.logos {
	display: flex;
	justify-content: space-between;
	margin: 10px 20px;
}
.hide{
	display: none;
}
.far,.fas{
	margin-right: 20px;
}
.fa-heart {
	font-size: 25px;
}

.fa-comment {
	font-size: 25px;
}

.fa-paper-plane {
	font-size: 25px;
}

.fa-bookmark {
	margin-right: 0;
	font-size: 25px;
}
.slidesContainer{
	margin-left: -25%;
}
.slide{
	display: inline-block;
	margin-top: 12px;
	width: 5px;
	height: 5px;
	background-color: gray;
	border-radius: 10px;
	margin-left: 5px;

}
.active{
	background-color: dodgerblue;
	display: inline-block;
	margin-top: 12px;
	width: 5px;
	height: 5px;
	background-color: gray;
	border-radius: 10px;
	margin-left: 5px;
}
#heart{
	color: red;
}
